$darkblue: #4682B4;
$lightblue: #c8daea;

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Tahoma, Helvetica, sans-serif;
}

nav {
	border-radius: none;
}

.navbar {
	margin-bottom: 0;
	border-radius: none
}

.navbar-default {
	background-color: $darkblue;
	/* border-color: $darkblue; */
}

.navbar-default .navbar-brand {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

h2 {
	color: $darkblue;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

p {
	margin: 2% 0;
}

#booklist {
	padding: 4%;
}

.row {
	background-color: $lightblue;
	border: 2px solid $darkblue;
	border-radius: 10px;
	margin: 2% 0;
	padding: 0 2%;
}

.author {
	font-weight: bold;
	font-size: 1.4em;
	font-family: 'Oswald', sans-serif;
}

.type {
	font-style: italic;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
}

.publisher {
	font-style: italic;
}


@media (min-width: 768px) {
	.navbar {
		border-radius: none !important;
	}
}